<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=320, initial-scale=1">
    <meta charset="utf-8">
    <style>
      body, html {
        min-width: 100%;
        min-height: 100%;
        margin: 1;
        padding: 0;
        font: Arial 14px;
        color: #2b2b2b; 
        background: #1582a2;
      }
      #Nav-Table {
        border: 6px solid black;
        border-radius: 10px;
        opacity: 0.9; 
      }
      #Code-Table {
        border: 6px solid black;
        border-radius: 10px;
        opacity: 0.9; 
      }
    </style>
  </head>
  <body> 
    <table width="1009" bgcolor="black" cellpadding="30" cellspacing="0" id= Nav-Table>
      <tr bgcolor="black">
        <td width="50%"><font face= "Courier New, Courier, mono" color= "white"><a href="/"><font face= "Courier New, Courier, mono" color= "white"><b>Home</b></font></a><b>/</b><a href = ""><font face= "Courier New, Courier, mono" color= "white"><b>Python</b></font></a></font></td>
        <td width="50%"> </td>
      </tr>
    </table>
    <font face="Courier New, Courier, mono">
    <h1>
      Binary 
    </h1>
      <b>
        This algorithm can convert DECIMAL numbers into the BINARY system and can do the reverse operation. <br>
        If you want, you can copy the code below and paste it into your favorite editor to test it <br><br>
      </b>
    </font>  
      <table width="1009" bgcolor="black" cellpadding="20" cellspacing="0" id= "Code-Table">
      <tr bgcolor="black">
        <td width="20%"><font face= "Courier New, Courier, mono" color= "#717171">
          <b>
def cls():<br> 
&nbsp;print('\n'*100)<br>
&nbsp;def Binary():<br>
&nbsp;&nbsp;def Converter():<br>
&nbsp;&nbsp;&nbsp;print("Enter the DECIMAL number to conveter this in a BINARY number")<br>
&nbsp;&nbsp;&nbsp;Number = int(input("$/0//:")<br>
&nbsp;&nbsp;&nbsp;X = Number<br>
&nbsp;&nbsp;&nbsp;Binary = []<br>
&nbsp;&nbsp;&nbsp;while X > 0:<br>
&nbsp;&nbsp;&nbsp;&nbsp;if X % 2 != 0:<br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Binary.append(1)<br>
&nbsp;&nbsp;&nbsp;&nbsp;else:<br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Binary.append(0)<br>
&nbsp;&nbsp;&nbsp;&nbsp;X = X//2<br>

&nbsp;&nbsp;&nbsp;Binary.reverse()<br>
&nbsp;&nbsp;&nbsp;Binary = ''.join(str(i) for i in Binary)<br>
&nbsp;&nbsp;&nbsp;print("BINARY NUMBER IS:", int(Binary))<br>
	
&nbsp;&nbsp;def Return():<br>
&nbsp;&nbsp;&nbsp;SecondPage = """<br>

&nbsp;&nbsp;[ 0 ]Converter<br>
&nbsp;&nbsp;[ 1 ]Exit<br>

&nbsp;&nbsp;&nbsp;"""<br>
&nbsp;&nbsp;&nbsp;print(SecondPage)<br>
&nbsp;&nbsp;&nbsp;Label = int(input("$/0//: "))<br>
&nbsp;&nbsp;&nbsp;if Label == 0:<br>
&nbsp;&nbsp;&nbsp;&nbsp;cls()<br>
&nbsp;&nbsp;&nbsp;&nbsp;Converter()<br>
&nbsp;&nbsp;&nbsp;&nbsp;Return()<br>
&nbsp;&nbsp;&nbsp;elif Label == 1:<br> 
&nbsp;&nbsp;&nbsp;&nbsp;cls()<br>
&nbsp;&nbsp;&nbsp;&nbsp;return "Bye"<br>
	

&nbsp;&nbsp;HomePage = """<br>
&nbsp;BINARY<br>

&nbsp;&nbsp;[ 0 ]Converter<br>
&nbsp;&nbsp;[ 1 ]Exit<br>

&nbsp;&nbsp;"""<br>
&nbsp;&nbsp;print(HomePage)<br>

&nbsp;&nbsp;Label = input("$//:")<br>
&nbsp;&nbsp;if Label == 0:<br>
&nbsp;&nbsp;&nbsp;cls()<br>
&nbsp;&nbsp;&nbsp;Converter()<br>
&nbsp;&nbsp;&nbsp;Return()<br>
&nbsp;&nbsp;elif Label == "1":<br> 
&nbsp;&nbsp;&nbsp;cls()<br>
&nbsp;&nbsp;&nbsp;print("Bye")<br>
		
&nbsp;def Decimal():<br>
&nbsp;&nbsp;def Converter():<br>
&nbsp;&nbsp;&nbsp;print("Enter BINARY number to converter this in a DECIMAL number")<br>
&nbsp;&nbsp;&nbsp;Number = str(input("$/0//: "))<br>
&nbsp;&nbsp;&nbsp;X = Number<br>

&nbsp;&nbsp;&nbsp;X = [X[int(i)] for i in range(0, len(X))<br>
		
&nbsp;&nbsp;&nbsp;denary = 0<br>
		
&nbsp;&nbsp;&nbsp;for digit in X:<br> 
&nbsp;&nbsp;&nbsp;&nbsp;denary = denary * 2 + int(digit)<br>
			
			
&nbsp;&nbsp;&nbsp;Number = denary<br>
&nbsp;&nbsp;&nbsp;print("DECIMAL NUMBER is: ", int(Number))<br>
&nbsp;&nbsp;def Return():<br>
&nbsp;&nbsp;&nbsp;SecondPage = """<br>

&nbsp;&nbsp;[ 0 ]Converter<br>
&nbsp;&nbsp;[ 1 ]Exit<br>

&nbsp;&nbsp;&nbsp;"""<br>
&nbsp;&nbsp;&nbsp;print(SecondPage)<br>
&nbsp;&nbsp;&nbsp;Label = int(input("$/0//: "))<br>
&nbsp;&nbsp;&nbsp;if Label == 0:<br>
&nbsp;&nbsp;&nbsp;&nbsp;cls()<br>
&nbsp;&nbsp;&nbsp;&nbsp;Converter()<br>
&nbsp;&nbsp;&nbsp;&nbsp;Return()<br>
&nbsp;&nbsp;&nbsp;elif Label == 1:<br> 
&nbsp;&nbsp;&nbsp;&nbsp;cls()<br>
&nbsp;&nbsp;&nbsp;&nbsp;return "Bye"<br>
		
&nbsp;&nbsp;Converter()<br>
&nbsp;&nbsp;Return()<br>
&nbsp;LunchPage = """<br>
&nbsp;SECURE<br>
	
&nbsp;&nbsp;[ 0 ]Decimal to Binary<br>
&nbsp;&nbsp;[ 1 ]Binary to Decinal<br>
&nbsp;&nbsp;[ 2 ]Exit<br>
 
&nbsp;"""<br>
&nbsp;print(LunchPage)<br>
&nbsp;Label = int(input("$//:"))<br>
&nbsp;if Label == 0:<br>
&nbsp;&nbsp;cls()<br>
&nbsp;&nbsp;Binary()<br>
&nbsp;elif Label == 1:<br>
&nbsp;&nbsp;cls()<br>
&nbsp;&nbsp;Decimal()<br> 
&nbsp;elif Label == 2:<br>
&nbsp;&nbsp;cls()<br>
&nbsp;print("Bye")<br>
          
          </b>
          </font></td>
      </tr>
    </table>
  </body>
</html>
