<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Garage</title>
    <style> 
    	body, html {
	    	min-width: 100%;
        min-height: 100%;
        margin: 5;
        padding: 0;
        background: background.jpg;
      }
	    
	    #Header {
		    background: black;
		   }
    
    </style>
  </head>

  <body>
    <header id="Header">
      
      <a id= "Header_Item_1" href=""> MONACO GARAGE </a>
    
    
    
    </header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
