<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=320, initial-scale=1">
    <meta charset="utf-8">
    <style>
      body, html {
        min-width: 100%;
        min-height: 100%;
        margin: 1;
        padding: 0;
        font: 13px;
        color:black;
        background: #116780; 
      }
    </style>
  </head>
  <body>
    <table width="1009" bgcolor="black" cellpadding="30" cellspacing="0">
      <tr bgcolor="black">
        <td width="50%"><b><a href = "/"><font face="Courier New, Courier, mono" color= "white">Home</font></a></b></td>
        <td width="50%"></td>
      </tr>
    </table>
    <font face="Courier New, Courier, mono">
    <h1>
      Riccardo Curci 
    </h1>
      <b>
    Hi my names is Riccardo im' 14 years old and I live in Italy. <br> 
    Currently I am the first superior at the high school of Cologno Monzese a town near Milan <br>
    When I grow up I drem became a softawere developer. <br>
    Currently I have learn the base of programming and I can write a mini program in three languages: Html, Javascript and Python.
      </b>
    <h2>
      Portfolio
    </h2>
    <b> My first porjects are: </b>
    <ul>
      <li><a href = "/Python"><b> Python </b></a></li>
      <li><a href = "/Javascript"><b> Javascript </b></a></li>
    </ul>
    </font>
  </body>
</html>
 
